/* src/App.css */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* favourites container has a consistent height and scrolls if content overflows */
.favourites-container {
  background-color: white;
  transition: background-color 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
 
  
  
  .card {
    margin-bottom: 1rem;
  }

  /* Adjust image thumbnails */
  .card-img-top {
    z-index: 1; 
    height: 200px;
    object-fit: cover;
  }

  /* Adjust tabs */
  #property-tabs .nav-link {
    font-size: 1rem;
  }
}

/* Larger screens */
@media (min-width: 1025px) {
  /* Styles for large screens */

  /* Adjust property cards */
  .card {
    margin-bottom: 2rem;
  }

  /* Adjust image thumbnails */
  .card-img-top {
    z-index: 1; 
    height: 300px;
    object-fit: cover;
  }

  /* Adjust tabs */
  #property-tabs .nav-link {
    font-size: 1.25rem;
  }
}

/* Lightbox adjustments */
.ReactModal__Overlay {
  z-index: 1040; /* Ensure the lightbox appears above other elements */
}


.form-control {
  height: 38px;
}


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  color: #343a40;
}

p {
  color: #6c757d;
}


